.titulo2 {
    font-family: Tahoma;
    text-align: center;
}

.texto2 {
    text-align: center;
    padding-top: 13px;
    margin-top: -15px;
}

.card-text {
    color :#565856;
    text-align: justify;
}

.card {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
}

@media (max-width: 360px) {
    .card {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 83%;
    }
}

@media (min-width: 361px) and (max-width: 415px) {
    .card {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 85%;
    }
}

@media (min-width: 416px) and (max-width: 769px) {
    .card {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90%;
    }
    .card-text {
        font-size: 25px;
    }
}

@media (min-width: 770px) and (max-width: 1024px) {
    .card {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 80%;
    }
    .card-text {
        font-size: 25px;
    }
}

.a3 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.noticias {
  width: auto;
  height: auto;
}
.a3 {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
