.titulo2 {
    font-family: Tahoma;
    text-align: center;
}

.texto2 {
    text-align: center;
    padding-top: 13px;
    margin-top: -15px;
}

.card-text {
    color :#565856;
    text-align: justify;
}

.card {
    margin-top: 30px;
}

.noticias {
  width: auto;
  height: auto;
}
.a3 {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
