* {
    box-sizing: border-box;
}

p {
    font-size: 20px;
}

.col-8 {
    padding-left: 30px;
    text-align: justify;
}

.t1 {
    text-align: left;
    margin-left: 0px !important;
}

@media (max-width: 360px) {
    .imagen1 {
        display: inline;
        width: 20em;
        height: auto;
    }
    .a1 {
        display: block !important;
        margin-right: auto;
        margin-left: auto;
    }
    .a2 {
        text-align: center;
        padding-left: 2em;
        margin-left: 12%;
    }
}

@media (min-width: 361px) and (max-width: 415px) {
    .imagen1 {
        display: inline;
        width: 23em;
        height: auto;
    }
    .a1 {
        display: block !important;
        margin-right: auto;
        margin-left: auto;
    }
    .a2 {
        text-align: center;
        padding-left: 2em;
        margin-left: 12%;
    }
}

@media (min-width: 416px) and (max-width: 769px) {
    .imagen1 {
        display: inline;
        width: 40em;
        height: auto;
    }
    .a1 {
        display: block !important;
        margin-left: 6%;
        margin-right: auto;
    }
    .a2 {
        text-align: justify;
        padding-left: 2em;
        margin-left: 10%;
    }
}

@media (min-width: 770px) and (max-width: 1025px) {
    .imagen1 {
        display: inline;
        width: 60em;
        height: auto;
    }
    .a1 {
        display: block !important;
        margin-right: auto;
        margin-left: 2%;
    }
    .a2 {
        text-align: justify;
        padding-left: 2em;
        margin-left: 14%;
    }
}

.imagen1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 7px solid rgb(201, 196, 196);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}