* {
    box-sizing: border-box;
}

p {
    font-size: 20px;
}

.columna {
    float: left;
    padding: 10px;
}

.contenido {
    margin-left: 40px;
    text-align: justify;
    font-size: 50px;
    color:#939993;
    width: 60%;
}

.t1 {
    font-weight: bold;
    font-family: Cambria;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: 40px;
    color: black;
}

.imgS1 {
    margin-top: 80px;
    margin-left: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

