* {
    box-sizing: border-box;
}

p {
    font-size: 20px;
}

.col-8 {
    padding-left: 30px;
    text-align: justify;
}

.t1 {
    text-align: left;
    margin-left: 0px !important;
}

.imagen1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 7px solid rgb(201, 196, 196);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

