

.cuadro {
    height: 100%;
    width: auto;
}
.Slider img {
  width: 100%;
  height: 100%;
  padding: 3% 2%;
  border-radius: 43px;
}

.description_animal {
  width: 100%;
  height: 100%;
  padding: 5% 3%;
}

.card {
    background: #f0fdea;
    text-align: center;
    border-radius: 18px;
    display: flex;
	justify-content: center;
	align-items: center;
	font-weight:  200;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.card h1 {
    color:#f36501;
}
.card h2 {
    text-align: left;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 1px;
    color: #279ce0;
    padding: 1px 31px;
    font-size: 23px;
}
.card p {
    padding: 1px 30px;
    color: #62984d;
    text-align: justify;
}

@media screen and (min-width:1000px) {
  .description_animal {
      width: 93%;
      height: 89%;
      padding: 4% 16%;
  }
}
