* {
    box-sizing: border-box;
}

p {
    font-size: 20px;
}

.contenido {
    margin-left: 40px;
    text-align: justify;
    font-size: 50px;
    color:#939993;
    width: 60%;
}

.t1 {
    font-family: Tahoma;
    margin-top: 60px;
    color: black;
}

.titulo2 {
    text-align: center;
    font-family: Tahoma;
    margin-top: 10px;
    margin-bottom: 40px;
    color: black;
}

.imgS1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 7px solid rgb(201, 196, 196);
}

.imgS2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 7px solid rgb(201, 196, 196);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.contenido2 {
    text-align: left;
    padding-left: 5%;
    color: #939993;
    padding-top: 15px;
}

.videoZoo {
    margin-left: 17%;
    margin-top: 30px;
    margin-bottom: 30px;
}